<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<div id="banner">
      <h1>USER SIGNUP</h1>
      <p class="lead">We're making finance data accessible to you! Just sign up now!</p>
    </div>
<div id="userform">
    <form action="/signup" method="post">
        Username:<br>
        <input type="text" name="username" value="JohnSmith206">
        <br>
        Password:<br>
        <input type="text" name="password" value="PASSWORD">
        <br>
        First Name:<br>
        <input type="text" name="fname" value="John">
        <br>
        Last Name:<br>
        <input type="text" name="lname" value="Smith">
        <br>
        Email:<br>
        <input type="text" name="email" value="jsmith@gmail.com">
        <br>
        Subscriber:<br>
        <input type="checkbox" name="subscriber">(Check for yes)</input>
        <br>
        <input type="submit" value="Signup"></input>
    </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<form action="/return" method="post">
    <input type="submit" value="Return to Home Page"></input>
</form>

</body>
</html>